*{
  margin-left: 5px;
  background-color: lavenderblush;
  text-align: center;
}

h1{
  margin-bottom: 0;
}

.addMore{
  margin-top: 20px;
  margin-bottom: 5px;
}


button{
  background-color: white;
  font-size: medium;
  padding: 5px;
  text-align: center;
}

.timer{
  margin-top: 50px;
}

.clock{
  margin-right: 20px;
  border-style: dashed;
  border-color: black;
  padding: 5px;
  color: darkgreen;
  background-color: white;
  font-weight: bold;
  font-size: x-large;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
